.container *{
  user-select: none;
}

.container {
  position: relative;
  text-align: center;
}

.imageContainer {
  position: relative;
  height: 500px;
  width: 900px;
  overflow: hidden;
  border: 1px solid black;
  -webkit-user-drag: none;
  margin: auto;
}

.imageContainer img{
  border: 1px solid black;
}

.btn {
  display: inline-block;
  padding: 0.4rem 1.3rem;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  transform: scale(1.1);
}

.btn-edit {
  background-color: rgb(228, 209, 209);
  margin-bottom: 10px;
}

.btn-save {
  background-color: #ebb434;
  color: white;
  margin-top: 10px;
}

.btn-cancel {
  background-color: #bebeba;
  color: yellow;
  margin-left: 10px;
  margin-top: 10px;
}

.text-block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
}

